@(t: LocalTask,
url:String,
yesnomap: Map[String, String],
scoremap: Map[String, String],
assmtKey: String,
userId: Option[String] = None
)

@import org.joda.time.format.DateTimeFormat
@import partials._


@dropdowncheck(a:Option[AnyRef], b:String) = @{
if(a.getOrElse("") == b) "selected" else ""
}

@main(s"BEIS - Business Process Management", backLink=Some(BackLink("Return to Task list",controllers.routes.TaskController.tasks().url)), displayUserName=userId) {
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@t.oppId: @t.oppTitle</span>
            @t.name
        </h1>

        <table class="thwithborder">
            @taskInfo(t, url)

            <form method="POST"
                  action="@controllers.routes.TaskController.submitAssessment(t.id, t.key)"
                  novalidate="novalidate" >

                <tr>
                    <th class="tdtopalign tdnobottomborder">Project Description  </th>  <input type="hidden" name="projectdescweight" value="0">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control dropdown" id="select-box" name="projectdescriptionoption">

                                @for((key, value) <- yesnomap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"projectdesc$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div class="rifs-form-buttons">
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                            </details>
                            <textarea id="name" class="form-control textarea-resize" title="name" name="projectdescriptioncomment">@t.variables.get(s"projectdesccomment$assmtKey")</textarea>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="tdtopalign tdnobottomborder">Cost(25%) </th>  <input type="hidden" name="costweight" value="20">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control dropdown" id="select-box" name="costoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"cost$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div class="rifs-form-buttons">

                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                            </details>

                            <textarea id="name" class="form-control textarea-resize" title="name" name="costcomment">@t.variables.get(s"costcomment$assmtKey")</textarea>
                        </div>
                    </td>
                </tr>


                <tr>
                    <th class="tdtopalign tdnobottomborder" colspan="2">Performance (25%) </th>
                </tr>
                <tr>
                    <td class="tdtopalign tdnobottomborder">Performance enhancement(15%) </td>  <input type="hidden" name="performanceenhancementweight" value="15">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control dropdown" id="select-box" name="performanceenhancementoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"performanceenhancement$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tdtopalign tdnobottomborder">Performance management (5%) </td>  <input type="hidden" name="performancemanagementweight" value="5">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control dropdown" id="select-box" name="performancemanagementoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"performancemanagement$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tdtopalign tdnobottomborder">Performance integration into heating system (5%) </td>  <input type="hidden" name="performanceintegrationweight" value="5">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control dropdown" id="select-box" name="performanceintegrationoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"performanceintegration$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" >
                        <div class="rifs-form-buttons">
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                            </details>

                            <textarea id="name" class="form-control textarea-resize" title="name" name="performancecomment">@t.variables.get(s"performancecomment$assmtKey")</textarea>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="tdtopalign tdnobottomborder">Market Potential (20%) </th>  <input type="hidden" name="marketpotentialweight" value="20">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control dropdown" id="select-box" name="marketpotentialoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"marketpotential$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div class="rifs-form-buttons">

                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                            </details>

                            <textarea id="name" class="form-control textarea-resize" title="name" name="marketpotentialcomment">@t.variables.get(s"marketpotentialcomment$assmtKey")</textarea>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="tdtopalign tdnobottomborder">Project Delivery (20%) </th>  <input type="hidden" name="projectdeliveryweight" value="20">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control dropdown" id="select-box" name="projectdeliveryoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"projectdelivery$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div class="rifs-form-buttons">

                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                            </details>

                            <textarea id="name" class="form-control textarea-resize" title="name" name="projectdeliverycomment">@t.variables.get(s"projectdeliverycomment$assmtKey")</textarea>
                        </div>
                    </td>
                </tr>


                <tr>
                    <th class="tdtopalign tdnobottomborder">Project Financing (10%) </th>  <input type="hidden" name="projectfinancingweight" value="10">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control dropdown" id="select-box" name="projectfinancingoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"projectfinancing$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div class="rifs-form-buttons">

                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                            </details>

                            <textarea id="name" class="form-control textarea-resize" title="name" name="projectfinancingcomment">@t.variables.get(s"projectfinancingcomment$assmtKey")</textarea>
                        </div>
                    </td>
                </tr>


                <tr>
                    <th class="tdtopalign tdnobottomborder">Wider Objective (10%) </th>     <input type="hidden" name="widerobjectiveweight" value="10">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control dropdown" id="select-box" name="widerobjectiveoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key  t.variables.get(s"widerobj$assmtKey").getOrElse("").toString(), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div class="rifs-form-buttons">

                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                            </details>

                            <textarea id="name" class="form-control textarea-resize" title="name" name="widerobjectivecomment">@t.variables.get(s"widerobjcomment$assmtKey")</textarea>
                        </div>
                    </td>
                </tr>


                <tr>
                    <th colspan="2" class="tdtopalign tdnobottomborder">Overall Comments (Max 500 words) </th>

                </tr>
                <tr>
                    <td colspan="2" >
                        <div class="rifs-form-buttons">

                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                            </details>
                        </div>

                        <div class="rifs-form-buttons">

                            <textarea id="overallcomment" class="form-control textarea-resize" title="name" name="overallcomment">@t.variables.get(s"overallcomment$assmtKey")</textarea>
                        </div>
                    </td>
                </tr>

        </table>

        <input type="hidden" name="processInstanceId" value="@t.processInstanceId">

        <p class="rifs-form-buttons">
            <input type="submit" name="complete" class="button button--start" value="Complete">
            <input type="submit" name="save" class="buttom--link-style" value="Save Process">
        </p>

        </form>

    </div>

    @taskHistory(t)


 </div>


 }