@(t: LocalTask,
  url:String,
technologymap: Map[String, String],
statusmap: Map[String, String],
userId: Option[String] = None
)

@import org.joda.time.format.DateTimeFormat
@import partials._


@main(s"BEIS - Business Process Management", backLink=Some(BackLink("Return to Task list",controllers.routes.TaskController.tasks().url)), displayUserName=userId) {
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@t.oppId: @t.oppTitle</span>
            @t.name
        </h1>

        <table class="thwithborder">
        @taskInfo(t, url)

            <form method="POST"
                  action="@controllers.routes.TaskController.submitAssessEligibility(t.id)"
                  novalidate="novalidate" >

            <tr>
                <td>Technology</td>
            <td>
                <div class="rifs-form-buttons">

                    <select class="form-control dropdown" id="select-box" name="technology">

                        @for((key, value) <- technologymap) {
                        <option value=@key>@value</option>
                        }
                    </select>
                </div>
            </td>
        </tr>

            <tr>
                <td>Eligibility</td>
            <td>
                <div class="rifs-form-buttons">
                    <select class="form-control dropdown" id="select-box" name="eligibilitystatus">

                        @for((key, value) <- statusmap) {
                        <option value=@key>@value</option>
                        }
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">Comments
                <div class="rifs-form-buttons">

                    <details>
                        <summary role="button"><span class="summary">Help with this section</span></summary>
                        <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                    </details>

                    <textarea id="name" class="form-control textarea-resize" title="name" name="comment"></textarea>
                    <input type="hidden" name="processInstanceId" value="@t.processInstanceId">
                    <input type="submit" name="save" class="button button--start" value="Submit Process">


                </div>
             </td>
         </tr>

            </form>

    </table>
    </div>

    @taskHistory(t)

</div>


}