@(t: LocalTask,
url:String,
yesnomap: Map[String, String],
scoremap: Map[String, String],
assmtKey: String,
errorCommentsListMinLength: Option[List[String]]= None,
errorCommentsListMaxLength: Option[List[String]]= None,
userId: Option[String] = None
)(implicit flash: Flash)

@errorClass = @{
if(flash.get("error").getOrElse("").nonEmpty) "error" else ""
}

@errorClassFor(f: String) = @{
if(errorCommentsListMinLength.getOrElse(List()).contains(f) || errorCommentsListMaxLength.getOrElse(List()).contains(f)) "error" else ""
}

@import org.joda.time.format.DateTimeFormat
@import partials._


@dropdowncheck(a:Option[AnyRef], b:String) = @{
if(a.getOrElse("") == b) "selected" else ""
}


@main(s"BEIS - Business Process Management", backLink=Some(BackLink("Return to Task list",controllers.routes.TaskController.tasks_processes("task-asc").url)), displayUserName=userId) {
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@t.oppTitle</span>
            @t.name
        </h1>

        @if(errorCommentsListMinLength.getOrElse(List()).nonEmpty || errorCommentsListMaxLength.getOrElse(List()).nonEmpty) {
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

            <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                The information you entered is not valid
            </h1>
            <p>
                Please correct the problems indicated below.
            </p>
            @errorCommentsListMinLength.getOrElse(List()).map { e =>
            <span class="error-message" role="alert"> '@e' No value entered</span>
            }
            @errorCommentsListMaxLength.getOrElse(List()).map { e =>
            <span class="error-message" role="alert"> '@e' Word limit exceeded</span>
            }
        </div>
        }


        <!--<form method="POST"
             action="@controllers.routes.TaskController.submitAssessment(t.id)"
             novalidate="novalidate" > -->

        <form method="POST"
              action="@controllers.routes.TaskController.submitConfirm(t.id)"
              novalidate="novalidate" >

       <table  border="0">
           @taskInfo(t, url)

               <tr>
                   <th class="tdtopalign tdnobottomborder">Project description  </th>  <input type="hidden" name="projectdescweight" value="0">
                   <td class="tdnobottomborder">
                       <div class="rifs-form-buttons">
                           <select class="form-control" id="select-box" name="projectdescriptionoption">

                               @for((key, value) <- yesnomap) {
                               <option value=@key @dropdowncheck( t.variables.get(s"projectdesc$assmtKey"), key)>@value</option>
                               }
                           </select>
                       </div>


                        
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div>
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">
                                    Please select if the project description is adequate or not in the drop down above.<br><br>
                                    You should give detailed feedback in the comments section to justify the score you have awarded.<br><br>
                                    We may share your comments directly with the applicants as feedback.  You should write your comments concisely and in a way that you would find constructive if you were the applicant.<br><br>
                                    To guide your scoring, you should refer to the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Guidance_Notes.pdf" target="_blank">technical assessor guidance notes</a> and the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Assessor_Guidance_Notes.pdf" target="_blank">applicant guidance notes</a>.

                                </div>
                            </details>

                           <div class='form-group @errorClassFor("Project description comment")'>
                               <label for="projectdescriptioncomment"></label>
                               <textarea id="projectdescriptioncomment" class="form-control textarea-resize" title="projectdescriptioncomment" name="projectdescriptioncomment">@t.variables.get(s"projectdesccomment$assmtKey")</textarea>
                               <div class="inline right-align hint-text" id="fundsReceived_hint_text">
                                   <span class="js__hint" data-for="projectdescriptioncomment" data-rule="WordCount" data-ruleconfig="{&quot;maxWords&quot;: 1000}"></span>
                               </div>
                           </div>

                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="tdtopalign tdnobottomborder">Cost(25%) </th>  <input type="hidden" name="costweight" value="25">
                    <td class="tdnobottomborder">

                        <div class="rifs-form-buttons">

                            <select class="form-control" id="select-box" name="costoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"cost$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div>
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">
                                    Please select an assessment score from the drop-down list of values.<br><br>
                                    You should give detailed feedback in the comments section to justify the score you have awarded.<br><br>
                                    We may share your comments directly with the applicants as feedback.  You should write your comments concisely and in a way that you would find constructive if you were the applicant.<br><br>
                                    To guide your scoring, you should refer to the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Guidance_Notes.pdf" target="_blank">technical assessor guidance notes</a> and the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Assessor_Guidance_Notes.pdf" target="_blank">applicant guidance notes</a>.

                                </div>
                            </details>

                            <div class='form-group @errorClassFor("Cost comment")'>
                                <label for="costcomment"></label>
                                <textarea id="costcomment" class="form-control textarea-resize" title="costcomment" name="costcomment">@t.variables.get(s"costcomment$assmtKey")</textarea>
                                <div class="inline right-align hint-text" id="fundsReceived_hint_text">
                                    <span class="js__hint" data-for="costcomment" data-rule="WordCount" data-ruleconfig="{&quot;maxWords&quot;: 1000}"></span>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>


                <tr>
                    <th class="tdtopalign tdnobottomborder" colspan="2">Performance (25%) </th>
                </tr>
                <tr>
                    <td class="tdtopalign tdnobottomborder">Performance enhancement(15%) </td>  <input type="hidden" name="performanceenhancementweight" value="15">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                             <select class="form-control" id="select-box" name="performanceenhancementoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"performanceenhancement$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>

               <tr>
                   <td class="tdtopalign tdnobottomborder">Performance management (5%) </td>  <input type="hidden" name="performancemanagementweight" value="5">
                   <td class="tdnobottomborder">
                       <div class="rifs-form-buttons">
                           <select class="form-control" id="select-box" name="performancemanagementoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"performancemanagement$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tdtopalign tdnobottomborder">Performance integration into heating system (5%) </td>  <input type="hidden" name="performanceintegrationweight" value="5">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                             <select class="form-control" id="select-box" name="performanceintegrationoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"performanceintegration$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2" >
                        <div>
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">
                                    Please select an assessment score from the drop-down list of values.<br><br>
                                    You should give detailed feedback in the comments section to justify the score you have awarded.<br><br>
                                    We may share your comments directly with the applicants as feedback.  You should write your comments concisely and in a way that you would find constructive if you were the applicant.<br><br>
                                    To guide your scoring, you should refer to the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Guidance_Notes.pdf" target="_blank">technical assessor guidance notes</a> and the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Assessor_Guidance_Notes.pdf" target="_blank">applicant guidance notes</a>.

                                </div>
                            </details>

                            <div class='form-group @errorClassFor("Performance comment")'>
                                <label for="performancecomment"></label>
                                <textarea id="performancecomment" class="form-control textarea-resize" title="performancecomment" name="performancecomment">@t.variables.get(s"performancecomment$assmtKey")</textarea>
                                <div class="inline right-align hint-text" id="fundsReceived_hint_text">
                                    <span class="js__hint" data-for="performancecomment" data-rule="WordCount" data-ruleconfig="{&quot;maxWords&quot;: 1000}"></span>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="tdtopalign tdnobottomborder">Market potential (20%) </th>  <input type="hidden" name="marketpotentialweight" value="20">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control" id="select-box" name="marketpotentialoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"marketpotential$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div>
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">
                                    Please select an assessment score from the drop-down list of values.<br><br>
                                    You should give detailed feedback in the comments section to justify the score you have awarded.<br><br>
                                    We may share your comments directly with the applicants as feedback.  You should write your comments concisely and in a way that you would find constructive if you were the applicant.<br><br>
                                    To guide your scoring, you should refer to the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Guidance_Notes.pdf" target="_blank">technical assessor guidance notes</a> and the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Assessor_Guidance_Notes.pdf" target="_blank">applicant guidance notes</a>.

                                </div>
                            </details>

                            <div class='form-group @errorClassFor("Market potential comment")'>
                                <label for="marketpotentialcomment"></label>
                                <textarea id="marketpotentialcomment" class="form-control textarea-resize" title="marketpotentialcomment" name="marketpotentialcomment">@t.variables.get(s"marketpotentialcomment$assmtKey")</textarea>
                                <div class="inline right-align hint-text" id="fundsReceived_hint_text">
                                    <span class="js__hint" data-for="marketpotentialcomment" data-rule="WordCount" data-ruleconfig="{&quot;maxWords&quot;: 1000}"></span>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>

                <tr>
                    <th class="tdtopalign tdnobottomborder">Project delivery (20%) </th>  <input type="hidden" name="projectdeliveryweight" value="20">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control" id="select-box" name="projectdeliveryoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"projectdelivery$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div>
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">
                                    Please select an assessment score from the drop-down list of values.<br><br>
                                    You should give detailed feedback in the comments section to justify the score you have awarded.<br><br>
                                    We may share your comments directly with the applicants as feedback.  You should write your comments concisely and in a way that you would find constructive if you were the applicant.<br><br>
                                    To guide your scoring, you should refer to the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Guidance_Notes.pdf" target="_blank">technical assessor guidance notes</a> and the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Assessor_Guidance_Notes.pdf" target="_blank">applicant guidance notes</a>.

                                </div>
                            </details>
                            <div class='form-group @errorClassFor("Project delivery comment")'>
                                <label for="projectdeliverycomment"></label>
                                <textarea id="projectdeliverycomment" class="form-control textarea-resize" title="projectdeliverycomment" name="projectdeliverycomment">@t.variables.get(s"projectdeliverycomment$assmtKey")</textarea>
                                <div class="inline right-align hint-text" id="fundsReceived_hint_text">
                                    <span class="js__hint" data-for="projectdeliverycomment" data-rule="WordCount" data-ruleconfig="{&quot;maxWords&quot;: 1000}"></span>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>


                <tr>
                    <th class="tdtopalign tdnobottomborder">Project financing (10%) </th>  <input type="hidden" name="projectfinancingweight" value="10">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control" id="select-box" name="projectfinancingoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key @dropdowncheck( t.variables.get(s"projectfinancing$assmtKey"), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div>
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">
                                    Please select an assessment score from the drop-down list of values.<br><br>
                                    You should give detailed feedback in the comments section to justify the score you have awarded.<br><br>
                                    We may share your comments directly with the applicants as feedback.  You should write your comments concisely and in a way that you would find constructive if you were the applicant.<br><br>
                                    To guide your scoring, you should refer to the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Guidance_Notes.pdf" target="_blank">technical assessor guidance notes</a> and the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Assessor_Guidance_Notes.pdf" target="_blank">applicant guidance notes</a>.

                                </div>
                            </details>

                            <div class='form-group @errorClassFor("Project financing comment")'>
                                <label for="projectfinancingcomment"></label>
                                <textarea id="projectfinancingcomment" class="form-control textarea-resize" title="projectfinancingcomment" name="projectfinancingcomment">@t.variables.get(s"projectfinancingcomment$assmtKey")</textarea>
                                <div class="inline right-align hint-text" id="fundsReceived_hint_text">
                                    <span class="js__hint" data-for="projectfinancingcomment" data-rule="WordCount" data-ruleconfig="{&quot;maxWords&quot;: 1000}"></span>
                                </div>
                            </div>

                        </div>
                    </td>
                </tr>


                <tr>
                    <th class="tdtopalign tdnobottomborder">Wider objectives </th>     <input type="hidden" name="widerobjectiveweight" value="10">
                    <td class="tdnobottomborder">
                        <div class="rifs-form-buttons">
                            <select class="form-control" id="select-box" name="widerobjectiveoption">

                                @for((key, value) <- scoremap) {
                                <option value=@key  t.variables.get(s"widerobjective$assmtKey").getOrElse("").toString(), key)>@value</option>
                                }
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" >
                        <div>
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">
                                    Please select an assessment score from the drop-down list of values.<br><br>
                                    You should give detailed feedback in the comments section to justify the score you have awarded.<br><br>
                                    We may share your comments directly with the applicants as feedback.  You should write your comments concisely and in a way that you would find constructive if you were the applicant.<br><br>
                                    To guide your scoring, you should refer to the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Guidance_Notes.pdf" target="_blank">technical assessor guidance notes</a> and the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Assessor_Guidance_Notes.pdf" target="_blank">applicant guidance notes</a>.

                                </div>
                            </details>

                           <div class='form-group @errorClassFor("Wider objective comment")'>
                               <label for="widerobjectivecomment"></label>
                               <textarea id="widerobjectivecomment" class="form-control textarea-resize" title="widerobjectivecomment" name="widerobjectivecomment">@t.variables.get(s"widerobjectivecomment$assmtKey")</textarea>
                               <div class="inline right-align hint-text" id="fundsReceived_hint_text">
                                   <span class="js__hint" data-for="widerobjectivecomment" data-rule="WordCount" data-ruleconfig="{&quot;maxWords&quot;: 1000}"></span>
                               </div>
                           </div>

                        </div>
                    </td>
                </tr>


                <tr>
                    <th colspan="2" class="tdtopalign tdnobottomborder">Overall comments </th>

                </tr>
                <tr>
                    <td colspan="2" >
                        <div>
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">
                                    Please select an assessment score from the drop-down list of values.<br><br>
                                    You should give detailed feedback in the comments section to justify the score you have awarded.<br><br>
                                    We may share your comments directly with the applicants as feedback.  You should write your comments concisely and in a way that you would find constructive if you were the applicant.<br><br>
                                    To guide your scoring, you should refer to the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Guidance_Notes.pdf" target="_blank">technical assessor guidance notes</a> and the <a href="https://s3.eu-west-2.amazonaws.com/beis-forms-public/Assessor_Guidance_Notes.pdf" target="_blank">applicant guidance notes</a>.

                                </div>
                            </details>
                        </div>

                        <div class="rifs-form-buttons">

                            <div class='form-group @errorClassFor("Overall comment")'>
                                <label for="overallcomment"></label>
                                <textarea id="overallcomment" class="form-control textarea-resize" title="overallcomment" name="overallcomment">@t.variables.get(s"overallcomment$assmtKey")</textarea>
                                <div class="inline right-align hint-text" id="fundsReceived_hint_text">
                                    <span class="js__hint" data-for="overallcomment" data-rule="WordCount" data-ruleconfig="{&quot;maxWords&quot;: 1000}"></span>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

        </table>

        <input type="hidden" name="processInstanceId" value="@t.processInstanceId">
            <input type="hidden" name="nextAction" value="submitAssessment">
            <input type="hidden" name="taskKey" value="@assmtKey">


            <p class="rifs-form-buttons">
            <input type="submit" name="complete" class="button button--start" value="Submit Process">
            <input type="submit" name="save" class="buttom--link-style" value="Save Changes">
        </p>

        </form>

    </div>



</div>


}