@(t: LocalTask,
  url:String,
  statusmap: Map[String, String],
  errors: List[validations.FieldError],
  userId: Option[String] = None
)(implicit flash: Flash)

@errorClass = @{
if(flash.get("error").getOrElse("").nonEmpty) "error" else ""
}

@import org.joda.time.format.DateTimeFormat
@import partials._

@main(s"BEIS - Business Process Management", backLink=Some(BackLink("Return to Task list",controllers.routes.TaskController.tasks().url)), displayUserName=userId) {
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@t.oppId: @t.oppTitle</span>
            @t.name
        </h1>

        @if(flash.get("error").getOrElse("").nonEmpty || errors.nonEmpty) {
        <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

            <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                The information you entered is not valid
            </h1>
            <p>
                Please correct the problems indicated below.
            </p>
            <span class="error-message" role="alert">@flash.get("error").getOrElse("")</span>
            @errors.map { e =>
            <span class="error-message" role="alert">@e.err</span>
            }
        </div>
        }

        <form method="POST"
              action="@controllers.routes.TaskController.submitAssignAssessors(t.id)"
              novalidate="novalidate" >

        <table class="thwithborder">
            @taskInfo(t, url)

        <tr>
            <td>First Assessor</td>
            <td>
                <div class="rifs-form-buttons">

                    <select class="form-control dropdown" id="select-box" name="assignassessor1">

                        @for((key, value) <- statusmap) {
                        <option value=@key>@value</option>
                        }
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <td>Second Assessor</td>
            <td>
                <div class="rifs-form-buttons">

                    <select class="form-control dropdown" id="select-box" name="assignassessor2">

                        @for((key, value) <- statusmap) {
                        <option value=@key>@value</option>
                        }
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <td>Third Assessor</td>
            <td>
                <div class="rifs-form-buttons">

                    <select class="form-control dropdown" id="select-box" name="assignassessor3">

                        @for((key, value) <- statusmap) {
                        <option value=@key>@value</option>
                        }
                    </select>
                </div>
            </td>
        </tr>

        <tr>
            <td colspan="2">Comments
                <div class="rifs-form-buttons">

                    <details>
                        <summary role="button"><span class="summary">Help with this section</span></summary>
                        <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                    </details>

                    <div class="form-group @errorClass">

                        <div class="form-group  @errorClass'">
                            <label for="comment"></label>
                            <textarea id="comment" class="form-control textarea-resize" title="comment" name="comment">@flash.get("comment").getOrElse("")</textarea>
                            <div class="inline right-align hint-text" id="fundsReceived_hint_text">
                                <span class="js__hint" data-for="comment" data-rule="WordCount" data-ruleconfig="{&quot;maxWords&quot;: 1000}"></span>
                            </div>
                        </div>

                    </div>

                    <input type="hidden" name="processInstanceId" value="@t.processInstanceId">
                    <input type="submit" name="save" class="button button--start" value="Submit Process">


                </div>
             </td>
         </tr>

        </form>

    </table>
    </div>

    @taskHistory(t)


</div>


}