@(t: LocalTask,
  url:String,
  userId: Option[String] = None
)

@import org.joda.time.format.DateTimeFormat
@import partials._

@main(s"BEIS - Business Process Management", backLink=Some(BackLink("Return to Task list",controllers.routes.TaskController.tasks().url)), displayUserName=userId) {
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@t.oppId: @t.oppTitle</span>
            @t.name
        </h1>

        <table class="thwithborder">
            @taskInfo(t, url)

            @if(t.variables.get("finaldecision").getOrElse("") != "Not eligible"){
                @assessorReportIncl(t)
            }

            <form method="POST"
                  action="@controllers.routes.TaskController.submitConfirmEmailSent(t.id)"
                  novalidate="novalidate" >

                <tr>
                    <td>Decision Status </td>
                    <td>
                        @t.variables.get("finaldecision").getOrElse("")
                    </td>
                </tr>

                <tr>
                    <td>Decision Comments </td>
                    <td>
                        @{
                            if(t.variables.get("makepaneldecisioncomments").nonEmpty){
                                t.variables.get("makepaneldecisioncomments")
                            }else if(t.variables.get("submiteligibilitycomment").nonEmpty){
                                t.variables.get("submiteligibilitycomment")
                            }
                        }
                    </td>
                </tr>
                <tr>
                    <td>Confirm Email Sent</td>
                    <td>

                        <div class="rifs-form-buttons">

                            <div class="multiple-choice">
                                <input id="emailsent" name="emailsent" type="checkbox" title="emailsent" value="emailsent">
                                <label for="emailsent">&nbsp; </label>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td colspan="2">

                        <div class="rifs-form-buttons">

                            Comments
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                            </details>

                            <textarea id="name" class="form-control textarea-resize" title="name" name="comment"></textarea>
                            <input type="hidden" name="processInstanceId" value="@t.processInstanceId">
                            <input type="submit" name="save" class="button button--start" value="Submit Process">
                        </div>
                    </td>
                </tr>

        </table>
    </div>
    </form>

    @taskHistory(t)


</div>


}