@(t: LocalTask, nextAction:String, buttonAction:String
)(implicit flash: Flash)


@import partials._
@import org.apache.commons.lang3.StringUtils

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import partials._

@main(s"Department for Business, Energy & Industrial Strategy - BEIS") {

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
                <span class="heading-secondary">@t.oppTitle</span>
                @t.name
        </h1>

        <table class="thwithborder">

            <thead>
            <tr> <th scope="col" colspan="2"> Task Details</th> </tr>
            </thead>

            <tbody>

            <tr>
                <td>Assigned to</td>
                <td>@t.groups</td>
            </tr>
            <tr>
                <td>Program</td>
                <td> @t.oppTitle </td>
                <input type="hidden" name="opportunityId" value="@t.oppId">
            </tr>
            <tr>
                <td>Application</td>
                <td>
                @(t.appId+1000) - @t.appRef
                </td>
            </tr>

            </tbody>

        </table>
        <form method="POST"
              action="/@nextAction?taskid=@t.id.id"
              novalidate="novalidate" >

            <div class="form-group">
                <fieldset class="inline">
                    <legend>
                        <h1 class="heading-medium">
                            If you submit the data from this section you will not be able to change it later.
                           <br> Do you want to submit it?
                        </h1>
                    </legend>

                    <div class="multiple-choice">
                        <input id="radio-inline-1" type="radio" name="confirmsubmit" value="Yes">
                        <label for="radio-inline-1">Yes</label>
                    </div>
                    <div class="multiple-choice">
                        <input id="radio-inline-2" type="radio" name="confirmsubmit" value="No" checked>
                        <label for="radio-inline-2">No</label>
                    </div>
                </fieldset>
                <input type="hidden" name="formdata" value="@flash.get("formdata").getOrElse("")">

                <div class="rifs-form-buttons">
                    <input type="submit" name="Save" class="button button--start" value="Submit">
                </div>
            </div>
        </form>
    </div>
</div>

}