@(t: LocalTask,
  url:String,
  decisionmap: Map[String, String],
  userId: Option[String] = None
)

@import org.joda.time.format.DateTimeFormat
@import partials._


@main(s"BEIS - Business Process Management", backLink=Some(BackLink("Return to Task list",controllers.routes.TaskController.tasks().url)), displayUserName=userId) {
<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@t.oppId: @t.oppTitle</span>
            @t.name
        </h1>

        @taskInfo(t, url)

        <form method="POST"
              action="@controllers.routes.TaskController.submitModerateScore(t.id)"
              novalidate="novalidate" >

       <br>
        <table border="1" >
            <thead>
            <tr>
                <th class="tdwithpadding"> Criteria </th>
                <th class="tdwithpadding"> First Assessor </th>
                <th class="tdwithpadding"> Second Assessor </th>
                <th class="tdwithpadding"> Third Assessor </th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td class="tdwithpadding">Project description </td>
                <td> </td>
                <td> </td>
                <td> </td>
            </tr>
            <tr>
                <td class="tdwithpadding">Performance enhancement (@t.variables.get(s"performanceenhancementweight1").getOrElse("")%) </td>
                <td class="tdwithpadding">@t.variables.get(s"performanceenhancement1").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"performanceenhancement2").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"performanceenhancement3").getOrElse("") </td>
            </tr>
            <tr>
                <td class="tdwithpadding">Cost (@t.variables.get(s"costweight1").getOrElse("")%) </td>
                <td class="tdwithpadding">@t.variables.get(s"cost1").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"cost2").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"cost3").getOrElse("") </td>
            </tr>
            <tr>
                <td class="tdwithpadding">Performance management (@t.variables.get(s"performancemanagementweight1").getOrElse("")%) </td>
                <td class="tdwithpadding">@t.variables.get(s"performancemanagement1").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"performancemanagement2").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"performancemanagement2").getOrElse("") </td>
            </tr>
            <tr>
                <td class="tdwithpadding">Project integration (@t.variables.get(s"performanceintegrationweight1").getOrElse("")%) </td>
                <td class="tdwithpadding">@t.variables.get(s"performanceintegration1").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"performanceintegration2").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"performanceintegration3").getOrElse("") </td>
            </tr>
            <tr>
                <td class="tdwithpadding">Market potential (@t.variables.get(s"marketpotentialweight1").getOrElse("")%) </td>
                <td class="tdwithpadding">@t.variables.get(s"marketpotential1").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"marketpotential2").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"marketpotential3").getOrElse("") </td>
            </tr>
            <tr>
                <td class="tdwithpadding">Project delivery (@t.variables.get(s"projectdeliveryweight1").getOrElse("")%) </td>
                <td class="tdwithpadding">@t.variables.get(s"projectdelivery1").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"projectdelivery2").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"projectdelivery3").getOrElse("") </td>
            </tr>
            <tr>
                <td class="tdwithpadding">Project financing (@t.variables.get(s"projectfinancingweight1").getOrElse("")%) </td>
                <td class="tdwithpadding">@t.variables.get(s"projectfinancing1").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"projectfinancing2").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"projectfinancing3").getOrElse("") </td>
            </tr>
            <tr>
                <td class="tdwithpadding">Weighted score </td>
                <td class="tdwithpadding">@t.variables.get(s"weightedscore1").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"weightedscore2").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"weightedscore3").getOrElse("") </td>
            </tr>
            <tr>
                <td COLSPAN="4"> </td>
            </tr>
            <tr>
                <td class="tdwithpadding">Wider objective (@t.variables.get(s"widerobjectiveweight1").getOrElse("")%) </td>
                <td class="tdwithpadding">@t.variables.get(s"widerobjective1").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"widerobjective2").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"widerobjective3").getOrElse("") </td>
            </tr>
            <tr>
                <td class="tdwithpadding">Tie-break score</td>
                <td class="tdwithpadding">@t.variables.get(s"tiebreakscore1").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"tiebreakscore2").getOrElse("") </td>
                <td class="tdwithpadding">@t.variables.get(s"tiebreakscore3").getOrElse("") </td>
            </tr>
            </tbody>
        </table>


        <table  border="0">
                <thead>

                <tr> <th scope="col" >  First Assessor Report </th>
                    <th><a href="/task/@t.id.id/assessor/1/assessor-report" target="_blank">
                        <img src="@routes.Assets.at("images/new-window.png")" width="22" height="20" alt="" style="visibility: visible"></a>
                    </th>
                </tr>
                <tr> <th scope="col"> Second Assessor Report </th>
                    <th><a href="/task/@t.id.id/assessor/2/assessor-report" target="_blank">
                        <img src="@routes.Assets.at("images/new-window.png")" width="22" height="20" alt="" style="visibility: visible"></a>
                    </th>
                </tr>
                <tr> <th scope="col"> Third Assessor Report </th>
                    <th><a href="/task/@t.id.id/assessor/3/assessor-report" target="_blank">
                        <img src="@routes.Assets.at("images/new-window.png")" width="22" height="20" alt="" style="visibility: visible"></a>
                    </th>
                </tr>

                </thead>

                <tbody>
                <tr> <td>  Average Weighted Score </td>
                     <td>  @t.variables.get(s"averageweightedscore").getOrElse("") </td>
                    <input type="hidden" name="averageweightedscore" value="@t.variables.get(s"averageweightedscore").getOrElse("")">
                </tr>

                <!-- <tr> <td>  Average Tie-break Score </td>
                    <td>  @t.variables.get(s"averagetiebreakscore").getOrElse("") </td>
                </tr>-->
                <input type="hidden" name="averagetiebreakscore" value="@t.variables.get(s"averagetiebreakscore").getOrElse("")">

                <tr> <td>  Average Moderate Score </td>
                    <td> <input type="text" id="name" class="form-control text-field bignumber" title="name" name="averagemoderatescore"  aria-label="User Name" aria-invalid="false">
                    </td>
                </tr>

                <tr>
                    <td class="tdwithpadding" colspan="2" >
                        <div class="rifs-form-buttons">
                            <details>
                                <summary role="button"><span class="summary">Help with this section</span></summary>
                                <div class="panel panel-border-narrow">Test Test Test Test Test</div>
                            </details>
                        </div>

                        <div class="rifs-form-buttons">
                            <textarea id="overallcomment" class="form-control textarea-resize" title="name" name="comments"></textarea>
                        </div>
                    </td>
                </tr>
                </tbody>
        </table>

        <input type="hidden" name="processInstanceId" value="@t.processInstanceId">
        <br><input type="submit" name="save" class="button button--start" value="Submit Process">
        </form>
    </div>



    @taskHistory(t)

</div>


}