@(  passwordresetform: Form[PasswordResetForm],
    userId: String,
    errs: List[validations.FieldError]
)(implicit flash: Flash)

@errorClass = @{
if(errs.nonEmpty) "error" else ""
}

@import helper._
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._

@main(s"Department for Business, Energy & Industrial Strategy - BEIS", backLink=Some(BackLink("Return to Task list",controllers.routes.TaskController.tasks().url)), displayUserName=Some(userId)) {
@helper.form(action = routes.UserController.updatePassword) {

<div class="grid-row">
    <div class="column-two-thirds">
        <div class='form-group @errorClass'>

                <h1 class="heading-xlarge"> Reset Password </h1>

                <p class="lede">
                    Please enter your details
                </p>
            <span class="form-hint">
                Passoword must contain at least 8 characters and at least one letter and one number
            </span>
            @if(errs.nonEmpty) {
            <div class="error-summary" role="group" aria-labelledby="error-summary-heading" tabindex="-1">

                <h1 class="heading-medium error-summary-heading" id="error-summary-heading">
                    The information you entered is not valid
                </h1>
                <p>
                    Please correct the problems indicated below.
                </p>
                @errs.map { e =>
                <span class="error-message" role="alert">@e.err</span>
                }

            </div>
            }

            <table>
                   <tr>
                       <td width="30%"> Username </td>
                       <td width="70%"> @userId </td>
                   </tr>
                   <tr>
                        <td> Password <span class="mandatory-field">*</span> </td>
                        <td> <input type="password" id="password" class="form-control login-text-field " title="password" name="password"  aria-label="password " aria-invalid="false"> </td>
                   </tr>
                   <tr>
                        <td> New Password <span class="mandatory-field">*</span></td>
                        <td> <input type="password" id="newpassword" class="form-control login-text-field " title="newpassword" name="newpassword"  aria-label="newpassword " aria-invalid="false"> </td>
                   </tr>
                   <tr>
                        <td> Confirm Password <span class="mandatory-field">*</span></td>
                        <td> <input type="password" id="confirmpassword" class="form-control login-text-field " title="confirmpassword" name="confirmpassword"  aria-label="confirmpassword " aria-invalid="false"> </td>
                   </tr>
                   <tr>
                        <td><div class="rifs-form-buttons">
                            <input type="submit" name="save" class="button button--start" value="Save">
                        </div>
                        </td>
                       <td>
                           <a href="/login">Login</a>
                       </td>
                        <td></td>
                   </tr>
               </table>
        </div>
    </div>
</div>
}
}