@(
ts: Seq[LocalTaskSummary],
assessorTs: Seq[LocalTaskSummary],
ps: Seq[ProcessInstanceSummary],
userId: Option[String] = None)

@import helpers._

@main(s"BEIS - Business Process Management", None, displayUserName=userId, showAllLinks=Some(true)) {

<section class="more">

    <div class="js-tabs nav-tabs">
        <ul>
            @if(!ts.isEmpty){
            <li><a href="#task-list">Tasks</a></li>
            }
            @if(!ps.isEmpty){
            <li><a href="#process-list">Processes</a></li>
            }
            @if(!assessorTs.isEmpty){
            <li><a href="#assessor-task-list">Assessment actions</a></li>
            }
        </ul>
    </div>
    <div class="js-tab-content tab-content">

        <!-- 1st Tab --------------------------------------------------->
        @if(!ts.isEmpty){
        <div id="task-list" class="js-tab-pane tab-pane">

            <div>
                <h1 class="heading-xlarge">Your inbox</h1>

                <p class="lede">List of tasks</p>

                <table class="spacious">
                    <tr>
                        <th role="presentation" class="tdtopalign">
                            Task name
                            <a href="/tasks_processes/task-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                            <a href="/tasks_processes/task-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                        </th>
                        <th role="presentation" class="tdtopalign">
                            Application
                            <a href="/tasks_processes/app-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                            <a href="/tasks_processes/app-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                        </th>
                        <th role="presentation" class="tdtopalign">
                            Status
                            <a href="/tasks_processes/status-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                            <a href="/tasks_processes/status-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                        </th>

                        <th role="presentation" class="tdtopalign">
                            Technology
                            <a href="/tasks_processes/technology-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                            <a href="/tasks_processes/technology-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                        </th>

                        <th role="presentation" class="tdtopalign">
                            Weighted score
                            <a href="/tasks_processes/aws-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                            <a href="/tasks_processes/aws-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                        </th>

                        <th role="presentation" class="tdtopalign">
                            Tie-break score
                            <a href="/tasks_processes/atbs-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                            <a href="/tasks_processes/atbs-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                        </th>
                    </tr>

                    @if(ts.isEmpty){
                    <tr>
                        <td class="tdnormal" colpsan="6"> No tasks assigned to you</td>
                    </tr>
                    }
                    @for((t,i) <- ts.zipWithIndex) {
                    <tr>
                        <td class="tdnormal">
                            @{i+1}. <a href="/task/@t.id.id/application/@t.appId/opportunity/@t.oppId">
                            @t.key</a>
                        </td>
                        <td>@(t.appId+1000) - @t.appRef</td>
                        <td class="tdnormal">@t.status</td>
                        <td>@t.technology</td>
                        <td>@t.averageweightedscore</td>
                        <td>@t.averagetiebreakscore</td>
                    </tr>
                    }
                </table>

            </div>
        </div>
        }
        @if(!ps.isEmpty){
        <!-- 2nd Tab --------------------------------------------------->
        <div id="process-list" class="js-tab-pane tab-pane">

            <div>
                <div class="ledeextend">Application processes </div>
                <div class="right-position">
                    <a href="/exportDataToExcel" class="smallfont">
                        export <img src="@routes.Assets.at("images/export-excel.png")" valign= "middle" width="30" height="25" alt="export to Excel"
                        style="visibility: visible">
                    </a>
                </div>
                <table class="spacious">
                    <tr>

                        <th role="presentation" class="tdtopalign">
                            Application
                            <a href="/tasks_processes/proc-app-asc#process-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                            <a href="/tasks_processes/proc-app-desc#process-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                        </th>
                        <th role="presentation" class="tdtopalign">
                            Status
                            <a href="/tasks_processes/proc-status-asc#process-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                            <a href="/tasks_processes/proc-status-desc#process-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                        </th>

                        <th role="presentation" class="tdtopalign">
                            Technology
                            <a href="/tasks_processes/proc-technology-asc#process-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                            <a href="/tasks_processes/proc-technology-desc#process-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                        </th>

                        <th role="presentation" class="tdtopalign">
                            Weighted score
                            <a href="/tasks_processes/proc-aws-asc#process-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                            <a href="/tasks_processes/proc-aws-desc#process-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                        </th>

                        <th role="presentation" class="tdtopalign">
                            Tie-break score
                            <a href="/tasks_processes/proc-atbs-asc#process-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                            <a href="/tasks_processes/proc-atbs-desc#process-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                        </th>

                    </tr>

                    @if(ps.isEmpty){
                    <tr>
                        <td class="tdnormal" colpsan="6"> No application process found</td>
                    </tr>
                    }
                    @for((p,i) <- ps.zipWithIndex) {
                    <tr>
                        <td>
                            <!--{i+1}.  <a href=JWTToken("processadmin", userId.getOrElse(""), p.appId.toString) target="_blank">-->
                            @{i+1}.  <a href="/process/@p.processInstanceId">
                        @(p.appId+1000) - @(p.appRef) </a> </td>
                        <td class="tdnormal">@p.status</td>
                        <td>@p.technology</td>
                        <td>
                            @if(p.averageweightedscore.toString.equals("0")){
                                Not set
                            }else{
                                @p.averageweightedscore
                            }
                        </td>
                        <td>
                            @if(p.averagetiebreakscore.toString.equals("0")){
                                Not set
                            }else{
                                @p.averagetiebreakscore
                            }
                        </td>
                    </tr>
                    }
                </table>

            </div>
        </div>
        }
        @if(!assessorTs.isEmpty){
        <!-- 3rd Tab --------------------------------------------------->
        <div id="assessor-task-list" class="js-tab-pane tab-pane">

            <div>
                <p class="lede">List of Assessment tasks</p>

                <table class="spacious">
                    <tr>
                        <th role="presentation" class="tdtopalign">
                            Task name
                            <a href="/tasks_processes/task-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                            <a href="/tasks_processes/task-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                        </th>
                        <th role="presentation" class="tdtopalign">
                            Application
                            <a href="/tasks_processes/app-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                            <a href="/tasks_processes/app-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                        </th>
                        <th role="presentation" class="tdtopalign">
                            Status
                            <a href="/tasks_processes/status-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                            <a href="/tasks_processes/status-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                        </th>
                        <th role="presentation" class="tdtopalign">
                            Technology
                            <a href="/tasks_processes/status-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                            <a href="/tasks_processes/status-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                        </th>
                        <th role="presentation" class="tdtopalign">
                            Assigned to
                            <a href="/tasks_processes/status-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                            <a href="/tasks_processes/status-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                        </th>

                        <th role="presentation" class="tdtopalign">
                            Action
                            <a href="/tasks_processes/technology-asc#task-list">
                                <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                            <a href="/tasks_processes/technology-desc#task-list">
                                <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt=""
                                style="visibility: visible"></a>
                        </th>

                    </tr>

                    @if(assessorTs.isEmpty){
                    <tr>
                        <td class="tdnormal" colpsan="6"> No application process found</td>
                    </tr>
                    }
                    @for((t,i) <- assessorTs.zipWithIndex) {
                    <tr>
                        <td class="tdnormal">
                            @{i+1}. <a href="/task/@t.id.id/re-assign">
                            @t.key</a>
                        </td>
                        <td>@(t.appId+1000) - @if(t.appRef.length >7){
                            @t.appRef.substring(0, 6) ...
                            }else{
                            @t.appRef
                            }</td>
                        <td class="tdnormal">@t.status</td>
                        <td class="tdnormal">@t.technology</td>
                        <td class="tdnormal">@t.assignedTo</td>
                        <td nowrap="true"><a href="/task/@t.id.id/re-assign"> re-assign</a></td>

                    </tr>
                    }
                </table>

            </div>
        </div>
        }

    </div>

</section>
<script src="@routes.Assets.at("javascripts/vendor/jquery/jquery-1.11.3.min.js")"></script>

}
