@(t: LocalTask,
  url:String,
  statusmap: Map[String, String],
error: Option[String] = None
)(implicit flash: Flash)

@import org.joda.time.format.DateTimeFormat
@import partials._

@main(s"BEIS - Business Process Management", backLink=Some(BackLink("Return to Task list", "/tasks_processes/task-asc/#task-list")), displayUserName=Some(flash.get("name").getOrElse(""))) {

<div class="grid-row">
    <div class="column-two-thirds">
        <h1 class="heading-xlarge">
            <span class="heading-secondary">@t.oppTitle</span>
            @t.name
        </h1>

        <table  border="0">
            @taskInfo(t, url)

            <!--Process variable -->
            <tr>
                <td>Process</td>
                <td><a href="/process/@t.processInstanceId.id"> @t.processInstanceId.id</a></td>
            </tr>
            <tr>
                <td>Additional Information</td>
                <td>@t.variables.getOrElse("additionalInfo", "") </td>
            </tr>
            <!--Process variable -->

            <tr>
            <td>Comments</td>
            <td>
                <div class="rifs-form-buttons">
                    <form method="POST"
                          action="@controllers.routes.TaskController.submit(t.id)"
                          novalidate="novalidate" >

                    <select class="form-control dropdown" id="select-box" name="approvestatus">

                        @for((key, value) <- statusmap) {
                        <option value=@key>@value</option>
                        }
                    </select>

                    <textarea id="name" class="form-control textarea-resize" title="name" name="comment"></textarea>
                    <input type="hidden" name="processInstanceId" value="@t.processInstanceId">
                    <input type="submit" name="save" class="button button--start" value="Submit Process">
                    </form>
                </div>
            </td>
        </tr>

    </table>
    </div>

    @taskHistory(t.taskHistories)

</div>


}