@(ts: Seq[LocalTaskSummary],
userId: Option[String] = None)

@main(s"BEIS - Business Process Management", None, displayUserName=userId, showAllLinks=Some(true)) {


<div>
    <h1 class="heading-xlarge">Task Management</h1>

    <p class="lede">Links to all BEIS Tasks</p>

    <table class="spacious">
        <tr>
            <th role="presentation">
                Task Name
                <a href="/tasks?sort=task-asc">
                    <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                <a href="/tasks?sort=task-desc">
                    <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                </th>
            <th role="presentation">
                Application Title
                <a href="/tasks?sort=app-asc">
                    <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                <a href="/tasks?sort=app-desc">
                    <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
            </th>
            <th role="presentation">
                Status
                <a href="/tasks?sort=status-asc">
                    <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                <a href="/tasks?sort=status-desc">
                    <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
            </th>

            <th role="presentation">
                Technology
                <a href="/tasks?sort=technology-asc">
                    <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                <a href="/tasks?sort=technology-desc">
                    <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
            </th>

            <th role="presentation">
                Average <br>Weighted Score
                <a href="/tasks?sort=aws-asc">
                    <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                <a href="/tasks?sort=aws-desc">
                    <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
            </th>

            <th role="presentation">
                Average <br> Tie-break Score
                <a href="/tasks?sort=atbs-asc">
                    <img src="@routes.Assets.at("images/sort-up.png")" width="12" height="14" alt="" style="visibility: visible"></a>
                <a href="/tasks?sort=atbs-desc">
                    <img src="@routes.Assets.at("images/sort-down.png")" width="12" height="14" alt="" style="visibility: visible"></a>
            </th>
        </tr>

        @if(ts.isEmpty){
        <tr>
            <td> No Tasks</td>
        </tr>
        }
        @for((t,i) <- ts.zipWithIndex) {
        <tr>
            <td class="tdnormal">
                    @{i+1}. <a href="/task/@t.id.id/application/@t.appId/opportunity/@t.oppId">
                    @t.key</a>
            </td>
            <td>@t.appRef</td>
            <td class="tdnormal">@t.status</td>
            <td>@t.technology</td>
            <td>@t.averageweightedscore</td>
            <td>@t.averagetiebreakscore</td>
        </tr>
        }
    </table>

</div>
}
