// GOV.UK overrides
hr {
  margin-bottom: 20px;
  margin-top: 20px;
}

#footer {
  border-top: solid 10px $mainstream-brand;
}

//.breadcrumbs ol,
//.breadcrumbs ul {
//  margin: 0;
//  padding: 0;
//}

.error .form-control {
  // support for nested controls
  border: 4px solid $error-colour;
}

#product-name {
    font-size: 24px;
    font-weight: 400;
    padding-left: 5px;
}

.tdtopalign {
      vertical-align: top;
}

.tdnobottomborder {
      border-bottom: 0px solid $white;
}

.tdwithpadding {
      padding-left: 10px;
}

.tdsmall{
       width: 10%;
}

.tdnormal {
       width: 23%;
}

.thwithborder {
      th {
         border-top: solid 2px $black;
         border-bottom: solid 2px $black;
      }
      tfoot > tr > td {
         border-bottom: 2px solid $black;
         border-top: 2px solid $black;
      }
}

 .thwithlasttrborder {
         tr:last-of-type {
              border-bottom: 2px solid $black;
            }
}


linkdown  {
       margin-top: 2.5em;
  }


.boldtext  {
      font-weight: bold;
}

.border-disable {
      background: #f2f2f2;
      border: 2px solid #888;
}

.ledeextend {
       @extend .lede;
       float: left;
}

.right-position {
      float: right;
      margin-bottom: 1.05263em;
      display: inline;
}

.smallfont {
  font-size: 15px;
}