@(t: LocalTask)


@import partials._

<tr> <td scope="col" >  Assessor report 1 </td>
    <td><a href="/task/@t.id.id/assessor/1/assessor-report" target="_blank">
        <img src="@routes.Assets.at("images/new-window.png")" width="22" height="20" alt="" style="visibility: visible"></a>
    </td>
</tr>
<tr> <td scope="col"> Assessor report 2 </td>
    <td><a href="/task/@t.id.id/assessor/2/assessor-report" target="_blank">
        <img src="@routes.Assets.at("images/new-window.png")" width="22" height="20" alt="" style="visibility: visible"></a>
    </td>
</tr>
<tr> <td scope="col"> Assessor report 3</td>
    <td><a href="/task/@t.id.id/assessor/3/assessor-report" target="_blank">
        <img src="@routes.Assets.at("images/new-window.png")" width="22" height="20" alt="" style="visibility: visible"></a>
    </td>
</tr>
