@(t: LocalTask,
url: String)


@import partials._

    <thead>
    <tr> <th scope="col" colspan="2"> Task Details</th> </tr>
    </thead>

    <tbody>
    <!--tr>
        <td>Id</td>
        <td>@t.id.id</td>
    </tr-->
    <tr>
        <td>Assigned to</td>
        <td>@t.groups</td>
    </tr>
    <tr>
        <td>Program</td>
        <td> @t.oppTitle </td>
        <input type="hidden" name="opportunityId" value="@t.oppId">
    </tr>
    <tr>
        <td>Application</td>

        <td><a href="@url/application/@t.appId" target="_blank">
            <img src="@routes.Assets.at("images/new-window.png")" width="22" height="20" alt="" style="visibility: visible"></a>
        </td>

        <input type="hidden" name="applicationId" value="@t.appId">
    </tr>
    </tbody>
