@(t: LocalTask,
url: String)

@import partials._
@import org.apache.commons.lang3.StringUtils

    <thead>
    <tr> <th scope="col" colspan="2"> Task Details</th> </tr>
    </thead>

    <tbody>

    <tr>
        <td>Assigned to</td>
        <td>@t.groups</td>
    </tr>
    <tr>
        <td>Program</td>
        <td> @t.oppTitle </td>
        <input type="hidden" name="opportunityId" value="@t.oppId">
    </tr>
    <tr>
        <td>Application</td>

        <!--<td><a href="@url" target="_blank">
            <img src="@routes.Assets.at("images/new-window.png")" width="22" height="20" alt="" style="visibility: visible"></a>
        </td>-->

        <td>
        @if(StringUtils.isNotEmpty(url)){
            <a href="@url" target="_blank"> @(t.appId+1000) - @t.appRef</a></td>
        }else{
            @(t.appId+1000) - @t.appRef
        }

        <input type="hidden" name="applicationId" value="@t.appId">
    </tr>
    <tr>
        <td>Process</td>
        <td><a href="/process/@t.processInstanceId.id"> @t.processInstanceId.id</a></td>
    </tr>
    <tr>
        <td>Additional Information</td>
        <td>@t.variables.getOrElse("additionalInfo", "") </td>
    </tr>
    </tbody>
